/* style.css */

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Margins and paddings */
.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 2rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

/* Button styles */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

/* Form styles */
.form-label {
  font-weight: bold;
}

.form-select,
.btn {
  width: 100%;
}

/* Random movie container */
#randomMovieContainer {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

#randomMovieContainer img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
